.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* little Y axis movement error */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &-main {
        /* because of span already have display inline */
        @include header-text-stye(block, 6rem, 700, 3.5rem);
        
        /* use the animation */
        @include add-animation(moveInLeft, 1s, ease-out)
    }
    
    &-sub {
        /* same span classes already have diplay as block */
        @include header-text-stye(block, 2rem, 400, 1.75rem);
        
        /* use the animation */
        @include add-animation(moveInRight, 1s, ease-out)
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient($color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
