.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* little Y axis movement error */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &-main {
        /* because of span already have display inline */
        @include header-text-stye(block, 6rem, 700, 3.5rem);
        
        /* use the animation */
        @include add-animation(moveInLeft, 1s, ease-out)
    }
    
    &-sub {
        /* same span classes already have diplay as block */
        @include header-text-stye(block, 2rem, 400, 1.75rem);
        
        /* use the animation */
        @include add-animation(moveInRight, 1s, ease-out)
    }
}
